@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: column;
    // background-color: red;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 8rem;
}

.title {
    font-size: 4rem;
    display: block;
    letter-spacing: 0.2rem;
}

.button {
    width: 100px;
    height: 50px;
    margin: 15px 20px 0 0;
    font-size: 1.2rem;
    color: white;
    border: 1px;
    background-color: rgb(81, 81, 81);
    cursor: pointer;
}

.main {
    display: grid;
}

.cell {
    cursor: pointer;
    border-radius: 50%;
}
.cell:hover {
    background-color: rgb(72, 72, 72);
}

.cell--alive {
    background-color: rgb(222, 222, 222);
}
